.shortcutsContainer {
    padding-bottom: 10px;

    div {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 50px;

        &:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--borderColor);
        }

        b {
            width: 60px;
        }
    }
}