.templatesDialogContent {
    max-width: 570px;

    .templatesDialogHeader {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        search {
            flex: 1;

            input { 
                width: 100%;
            }
        }
    }

    ol {
        list-style-type: none;

        li:not(:last-child) {
            padding-bottom: 10px;
        }

    }
}

.selectedTemplateContainer {
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.templateItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 50px;
    padding: 15px;
    border-radius: var(--borderRadius);
    background-color: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    cursor: pointer;

    &[data-is-selected="true"] {
        color: var(--accentColor);
    }

    .templateName {
        font-size: 20px;
    }

    .templateDescription {
        font-size: 14px;
    }
}