:root {
    --accentColor: #d42b3c;
    --accentColor2: #66171E;

    --noAccentColor: #b1b1b1;
    --noAccentColor2: #6B6B6B;

    --mutedColor: #3e3e3e;
    --mutedColor2: #222;

    --successColor: #1c8d42;

    --borderRadius: 10px;
}

:root[data-theme="dark"] {
    --textColor: white;

    --primaryBackgroundColor: #19171c;
    --secondaryBackgroundColor: hsl(266, 10%, 14%);

    --borderColor: #403946;

    --primaryButtonColor: var(--accentColor);
    --secondaryButtonColor: #232027;
    --iconButtonHoverColor: hsla(266, 45%, 85%, 0.05);
}

:root[data-theme="light"] {
    --textColor: black;

    --primaryBackgroundColor: #f2f2f2;
    --secondaryBackgroundColor: hsl(0, 0%, 90%);

    --borderColor: #a1a1a1;

    --primaryButtonColor: var(--accentColor);
    --secondaryButtonColor: #8c8c8c;
    --iconButtonHoverColor: hsla(0, 0%, 15%, 0.07);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scrollbar-color: var(--accentColor) transparent;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px;
    background-color: var(--primaryBackgroundColor);
    font-family: "Space Grotesk", sans-serif;
    color: var(--textColor);
}

h1,
p,
input,
label,
button,
option,
select {
    font-family: inherit;
    font-size: 100%;
    margin: 0px;
    color: inherit;
}

button,
select {
    outline: none;
    text-transform: none;

    &:focus-visible {
        outline: 2px solid var(--textColor);
        border-radius: var(--borderRadius);
    }
}

input {
    accent-color: var(--accentColor);
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 8px 10px;
    font-size: 18px;

    &[type="checkbox"] {
        margin: 0px 5px;
        scale: 1.25;
        cursor: pointer;
    }

    &[type="number"],
    &[type="text"] {
        outline: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

button {
    border: 0px;
    cursor: pointer;
    color: white;

    &:active {
        filter: brightness(110%);
    }
}

b {
    color: var(--accentColor);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 8px 10px;
    text-align: center;
    text-align-last: center;
    text-overflow: ellipsis;
}

option {
    text-align: center;
    background-color: var(--primaryBackgroundColor);
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    &:has(input[type="checkbox"]) {
        cursor: pointer;
    }
}

form,
fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

legend {
    font-weight: 600;
    margin-bottom: 15px;
}