:root {
    --accentColor: #d63444;
    --accentColor2: #66171E;
    --noAccentColor: #ccc;
    --noAccentColor2: #6B6B6B;
    --mutedColor: #444;
    --mutedColor2: #222;
}

:root[data-theme="dark"] {
    --background: #201E23;
    --background2: #131114;
    --textColor: white;
}

:root[data-theme="light"] {
    --background: #fafafa;
    --background2: #dfdfdf;
    --textColor: black;
}

body {
    margin: 0px;
    background-color: var(--background);
    background: radial-gradient(circle, var(--background) 0%, var(--background2) 100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
p {
    margin: 0px;
}

body,
input,
button,
option,
select {
    font-family: "Space Grotesk", sans-serif;
}

h1,
p,
input,
label,
button,
option,
select {
    color: var(--textColor);
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

option {
    background-color: var(--background);
}

button {
    background-color: var(--accentColor);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

b {
    color: var(--accentColor);
}

select {
    font-size: 18px;
}

option {
    text-align: center;
}

.timeSignatureInput {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 10px;
}

.beatContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: center;
}

.beat {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 0;
}

.beat[data-beat-type="0"] {
    background-color: var(--accentColor);
    background: radial-gradient(circle, var(--accentColor) 0%, var(--accentColor2) 100%);
}

.beat[data-beat-type="1"] {
    background-color: var(--noAccentColor);
    background: radial-gradient(circle, var(--noAccentColor) 0%, var(--noAccentColor2) 100%);
}

.beat[data-beat-type="2"] {
    background-color: var(--noAccentColor);
    background: radial-gradient(circle, var(--mutedColor) 0%, var(--mutedColor2) 100%);
}

.beat[data-is-current-beat="true"] {
    scale: 1.2;
    filter: brightness(110%);
}

.bpmInput {
    cursor: default;
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.bpmInputRange {
    outline: 0;
    cursor: pointer;
    width: 300px;
    accent-color: var(--accentColor);
}

.bpmInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.metronomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.playMuteContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.timer {
    font-size: 24px;
    margin: 10px;
}

.themeChanger {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    font-size: 20px;
}

.volumeInputContainer {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        background: 0;
        outline: 0px;
        border: 0px;
        margin: 0px;
        width: auto;
        font-size: 20px;
    }
}

.volumeInputRange {
    outline: 0;
    cursor: pointer;
    width: 100px;
    accent-color: var(--accentColor);
}

.playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}