* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scrollbar-color: var(--accentColor) transparent;
}

:root {
    --accentColor: #d42b3c;
    --accentColor2: #66171E;
    --noAccentColor: #b1b1b1;
    --noAccentColor2: #6B6B6B;
    --mutedColor: #3e3e3e;
    --mutedColor2: #222;
    --successColor: #1c8d42;
    --borderRadius: 10px;
}

:root[data-theme="dark"] {
    --textColor: white;
    --mainColor: #19171c;
    --secondaryColor: #232027;
    --tertiaryColor: #403946;
}

:root[data-theme="light"] {
    --textColor: black;
    --mainColor: #f2f2f2;
    --secondaryColor: #e6e6e6;
    --tertiaryColor: #a1a1a1;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px;
    background-color: var(--mainColor);
    font-family: "Space Grotesk", sans-serif;
    color: var(--textColor);
}

h1,
p,
input,
label,
button,
option,
select {
    font-family: inherit;
    font-size: 100%;
    margin: 0px;
    color: inherit;
}

button,
select {
    outline: none;
    text-transform: none;

    &:focus-visible {
        outline: 2px solid var(--textColor);
        border-radius: var(--borderRadius);
    }
}

input {
    accent-color: var(--accentColor);
    background: var(--secondaryColor);
    border: 1px solid var(--tertiaryColor);
    border-radius: var(--borderRadius);
    padding: 8px 10px;
    font-size: 18px;

    &[type="checkbox"],
    &[type="radio"] {
        margin: 0px 5px;
        scale: 1.25;
        cursor: pointer;
    }

    &[type="number"],
    &[type="text"] {
        outline: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

button {
    border: 0px;
    cursor: pointer;
    color: white;

    &:active {
        filter: brightness(110%);
    }

    &:hover {
        scale: 1.03;
    }
}

b {
    color: var(--accentColor);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
    background: var(--secondaryColor);
    border: 1px solid var(--tertiaryColor);
    border-radius: var(--borderRadius);
    padding: 8px 10px;
}

option {
    text-align: center;
    background-color: var(--mainColor);
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    &:has(input[type="checkbox"]),
    &:has(input[type="radio"]) {
        cursor: pointer;
    }
}

hr {
    visibility: hidden;
}

form,
fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

legend {
    font-weight: 600;
    margin-bottom: 15px;
}

.dialog {
    margin: 0px;
    padding: 20px;
    border-radius: var(--borderRadius);
    background-color: var(--mainColor);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textColor);
    min-width: 370px;
    max-width: calc(100vw - 100px);
    font-size: 18px;
    overflow: hidden;
    z-index: 2;
    max-height: 95%;
    overflow: auto;

    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

        h2 {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .dialogBody {
        margin-top: 20px;
    }

    .dialogButtonContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        button {
            font-size: 16px;
            padding: 8px 16px;
            background-color: var(--accentColor);
            border-radius: var(--borderRadius);
        }
    }
}

.dialogInput {
    font-size: 20px;
    width: 60px;
}

.templateNameInput {
    flex: 1;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.closeButton {
    background: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    color: var(--textColor);
}

.mainHeader {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    h1 {
        cursor: pointer;
        font-size: 24px;
        text-align: center;
        text-wrap: nowrap;
    }
}

.templatesDialogContent {
    max-width: 560px;

    button {
        flex: none;
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accentColor);
        border-radius: var(--borderRadius);
    }

    .templatesDialogHeader {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    ol {
        list-style-type: none;

        li {
            padding-bottom: 10px;
        }

    }
}

@media (max-width: 650px) {
    .templatesDialogContainer {
        min-width: 300px;
        max-width: 100%;
    }
}

.templateItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);
    border: 1px solid var(--tertiaryColor);
    cursor: pointer;

    &[data-is-selected="true"] {
        border-color: var(--accentColor);
        color: var(--accentColor);
        font-weight: 500;
    }

    .templateName {
        font-size: 20px;
    }

    .templateDescription {
        font-size: 14px;
    }
}

[data-is-hidden="true"] {
    visibility: hidden;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--accentColor);

    &[data-is-off="true"] {
        background-color: var(--mutedColor);
    }

    &:focus {
        border-radius: 50%;
    }
}

.metronomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 10px;
    min-width: 350px;
    max-width: 500px;

    .templateLabel {
        margin-bottom: 15px;
        text-align: center;
    }

    .countdownInputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .timeSignatureInputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .beatContainer {
        margin: 25px 0px;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .beat {
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin: 5px;
            padding: 0px;
            border-radius: 50%;
            text-align: center;
            font-size: 18px;
            border: 0px;

            &[data-beat-type="0"] {
                background-color: var(--accentColor);
                background: radial-gradient(var(--accentColor), var(--accentColor2));
            }

            &[data-beat-type="1"] {
                background-color: var(--noAccentColor);
                background: radial-gradient(var(--noAccentColor), var(--noAccentColor2));
            }

            &[data-beat-type="2"] {
                background-color: var(--mutedColor);
                background: radial-gradient(var(--mutedColor), var(--mutedColor2));
            }

            &[data-beat-is-stopped="true"] {
                filter: brightness(130%);
            }

            &[data-is-current-beat="true"] {
                scale: 1.15;
                filter: brightness(130%);
            }
        }
    }

    .bpmInputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        align-items: center;

        .bpmInputButtonContainer {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 10px;

            .bpmInputButton {
                background: var(--accentColor);
                border-radius: var(--borderRadius);
                padding: 8px 15px;
                font-size: 18px;
                white-space: nowrap;
            }
        }

        .bpmInput {
            font-size: 75px;
            text-align: center;
            background: transparent;
            border: 0px;
            outline: 0px;
            width: 100%;
        }
    }

    .mainActionsContainer {
        width: 100%;
        max-width: 280px;
        margin: 10px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .clockAndCountdownContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clockContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin: 10px;

        .clock {
            font-size: 22px;
            width: 100px;
            text-align: center;
        }

        .pauseButton {
            background: transparent;
            display: flex;
            align-items: center;
            color: var(--textColor);
        }
    }
}

@media (min-height: 700px) {
    .metronomeContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.dotsMenuButton {
    background: transparent !important;
    font-size: 20px;
    color: inherit;

    &:hover {
        scale: 1;
    }
}

.menu {
    position: absolute;
    background: var(--mainColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--tertiaryColor);
    padding: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    button {
        background-color: transparent;
        position: relative;
        color: var(--textColor);
        font-size: 18px;
        padding: 10px 15px;
        padding-right: 20px;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        border-radius: var(--borderRadius);
        text-align: start;

        &:hover {
            scale: 1;
            background-color: var(--secondaryColor);
        }
    }
}

.snackbar {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

    div {
        min-width: 300px;
        padding: 15px 20px;
        border: 1px solid var(--tertiaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--accentColor);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        color: white;

        &[data-type="success"] {
            background-color: var(--successColor);
        }
    }

    .closeButton {
        color: white;
    }

    &[data-is-open="true"] {
        visibility: visible;
        -webkit-animation: snackbarAnimation 0.1s;
        animation: snackbarAnimation 0.1s;
    }
}

@-webkit-keyframes snackbarAnimation {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes snackbarAnimation {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}