*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --accentColor: #d63444;
    --accentColor2: #66171E;
    --noAccentColor: #ccc;
    --noAccentColor2: #6B6B6B;
    --mutedColor: #444;
    --mutedColor2: #222;
}

:root[data-theme="dark"] {
    --background: #201E23;
    --background2: #131114;
    --textColor: white;
}

:root[data-theme="light"] {
    --background: #fafafa;
    --background2: #dfdfdf;
    --textColor: black;
}

body {
    background-color: var(--background);
    background: radial-gradient(circle, var(--background) 0%, var(--background2) 100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
p,
input,
label,
button,
option,
select {
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;
    color: var(--textColor);
}

input {
    accent-color: var(--accentColor);
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1 {
    font-size: 24px;
    text-align: center;
    text-wrap: nowrap;
}

button {
    border: 0px;
    cursor: pointer;
    color: white;
}

b {
    color: var(--accentColor);
}

select {
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

option {
    text-align: center;
    background-color: var(--background);
}

.dialog {
    margin: 0px;
    padding: 20px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--background);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textColor);
    min-width: 370px;
    font-size: 18px;
    overflow: hidden;
    z-index: 2;

    .dialogHeader {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

        .dialogTitle {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .dialogBody {
        margin: 30px 5px 30px;
    }

    .dialogButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button {
            background-color: var(--accentColor);
            padding: 8px 16px;
            border-radius: 10px;
            font-size: 16px;
        }
    }

    .dialogInput {
        border: 0px;
        border-bottom: 1px solid;
        outline: 0px;
        background-color: transparent;
        font-size: 20px;
        max-width: 100px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.closeIcon {
    background: 0px;
    outline: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    color: var(--textColor);
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        display: flex;
        gap: 10px;
    }

    .themeChanger {
        background-color: transparent;
        font-size: 20px;
        padding: 0px;
    }

    .languageChanger {
        font-size: 16px;
    }
}

.metronomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    height: calc(100dvh - 100px);
    max-width: 500px;
    gap: 20px;

    .countdownInputContainer {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .timeSignatureInputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .timeSignatureInput {
            background-color: transparent;
            border: 0px;
            outline: 0px;
            cursor: pointer;
            font-size: 20px;
        }
    }

    .beatContainer {
        margin: 10px;
        min-height: 100px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 10px;
        justify-content: center;
        align-items: center;

        .beat {
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 50%;
            text-align: center;
            font-size: 18px;
            border: 0px;
        }

        .beat[data-beat-type="0"] {
            background-color: var(--accentColor);
            background: radial-gradient(circle, var(--accentColor) 0%, var(--accentColor2) 100%);
        }

        .beat[data-beat-type="1"] {
            background-color: var(--noAccentColor);
            background: radial-gradient(circle, var(--noAccentColor) 0%, var(--noAccentColor2) 100%);
        }

        .beat[data-beat-type="2"] {
            background-color: var(--mutedColor);
            background: radial-gradient(circle, var(--mutedColor) 0%, var(--mutedColor2) 100%);
        }

        .beat[data-is-current-beat="true"] {
            scale: 1.2;
            filter: brightness(110%);
        }
    }

    .bpmInputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        align-items: center;

        .bpmTapButton {
            background: var(--accentColor);
            border-radius: 8px;
            margin: 15px;
            padding: 5px 10px;
            font-size: 16px;
        }

        .bpmTapButton:active {
            scale: 1.05;
        }

        .bpmInputButtonContainer {
            display: flex;
            align-items: center;
            gap: 15px;

            .bpmInputButton {
                background: var(--accentColor);
                border-radius: 8px;
                padding: 8px 15px;
                font-size: 16px;
            }
        }

        .bpmInput {
            font-size: 80px;
            text-align: center;
            background: transparent;
            outline: 0px;
            max-width: 180px;
            border: 0px;
        }

        .bpmInput[type=range] {
            cursor: pointer;
            min-width: 230px;
            margin: 15px 0px;
        }
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .mainActionsContainer {
        width: 100%;
        max-width: 280px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
    }

    .clockCountdownContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clockContainer {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px;

        .clock {
            font-size: 22px;
            width: 100px;
            text-align: center;
        }

        .pauseButton {
            background: transparent;
            display: flex;
            align-items: center;
        }
    }

    .iconButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 10px;
        background-color: var(--accentColor);
        background: radial-gradient(circle, var(--accentColor) 0%, var(--accentColor2) 100%);
    }

    .iconButton[data-is-off="true"] {
        background-color: var(--mutedColor);
        background: radial-gradient(circle, var(--mutedColor) 0%, var(--mutedColor2) 100%);
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .checkboxContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        input[type=checkbox] {
            scale: 1.5;
            cursor: pointer;
        }
    }
}

.snackbar {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

    .snackbarContent {
        min-width: 300px;
        padding: 15px 20px;
        border: 0px;
        border-radius: 10px;
        background-color: var(--accentColor);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        color: white;
    }

    .closeIcon {
        color: white;
    }
}

.snackbar[data-is-open="true"] {
    visibility: visible;
    -webkit-animation: fadein 0.1s;
    animation: fadein 0.1s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}