.header {
    padding: 15px 10px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        display: flex;
        gap: 5px;
    }

    h1 {
        cursor: pointer;
        font-size: 24px;
        text-align: center;
        text-wrap: nowrap;
    }

    b {
        color: var(--accentColor);
    }
}