.menu {
    position: absolute;
    background: var(--primaryBackgroundColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderColor);
    padding: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    button {
        background-color: transparent;
        position: relative;
        color: var(--textColor);
        font-size: 18px;
        padding: 10px 15px;
        padding-right: 30px;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        border-radius: var(--borderRadius);
        text-align: start;

        &:hover {
            background-color: var(--iconButtonHoverColor);
        }
    }
}