.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &[data-color="transparent"] {
        color: var(--textColor);
        background-color: transparent;

        &:hover {
            background-color: var(--iconButtonHoverColor);
        }
    }

    &[data-color="primary"] {
        background-color: var(--accentColor);
    }

    &[data-color="secondary"] {
        background-color: var(--secondaryBackgroundColor);
        border: 1px solid var(--borderColor);
    }

    &[data-variant="round"] {
        border-radius: 50%;
    }

    &[data-variant="square"] {
        border-radius: var(--borderRadius);
    }
}